{% extends 'base.html.twig' %}

{% block title %}Note: {{ note.id }}{% endblock %}

{% block body %}
    <div class="note">
        <h3>{{ note.title }}</h3>
        <p>{{ note.body | raw }}</p>
        <p>
            {% for tag in note.tags %}
                <span class="badge rounded-pill bg-primary">{{ tag.name }}</span>
            {% endfor %}
        </p>
        <hr class="m-3">
    </div>
    <a href="/">Go Back</a>
{% endblock %}

